<!-- START SIGMA IMPORTS -->
<script src="./sigma.js-master/src/sigma.core.js"></script>
<script src="./sigma.js-master/src/conrad.js"></script>
<script src="./sigma.js-master/src/utils/sigma.utils.js"></script>
<script src="./sigma.js-master/src/utils/sigma.polyfills.js"></script>
<script src="./sigma.js-master/src/sigma.settings.js"></script>
<script src="./sigma.js-master/src/classes/sigma.classes.dispatcher.js"></script>
<script src="./sigma.js-master/src/classes/sigma.classes.configurable.js"></script>
<script src="./sigma.js-master/src/classes/sigma.classes.graph.js"></script>
<script src="./sigma.js-master/src/classes/sigma.classes.camera.js"></script>
<script src="./sigma.js-master/src/classes/sigma.classes.quad.js"></script>
<script src="./sigma.js-master/src/classes/sigma.classes.edgequad.js"></script>
<script src="./sigma.js-master/src/captors/sigma.captors.mouse.js"></script>
<script src="./sigma.js-master/src/captors/sigma.captors.touch.js"></script>
<script src="./sigma.js-master/src/renderers/sigma.renderers.canvas.js"></script>
<script src="./sigma.js-master/src/renderers/sigma.renderers.webgl.js"></script>
<script src="./sigma.js-master/src/renderers/sigma.renderers.svg.js"></script>
<script src="./sigma.js-master/src/renderers/sigma.renderers.def.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.square.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.texture.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.squareBMP.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.diamond.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.triangle.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.hexagon.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.star.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.thickLine.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.thickLineCPU.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.thickLineGPU.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.curve.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.curveCPU.js"></script>
<script src="./sigma.js-master/src/renderers/webgl/sigma.webgl.edges.curvedArrow.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="./sigma.js-master/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="./sigma.js-master/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="./sigma.js-master/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="./sigma.js-master/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="./sigma.js-master/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="./sigma.js-master/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="./sigma.js-master/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="./sigma.js-master/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="./sigma.js-master/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="./sigma.js-master/src/misc/sigma.misc.animation.js"></script>
<script src="./sigma.js-master/src/misc/sigma.misc.bindEvents.js"></script>
<script src="./sigma.js-master/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="./sigma.js-master/src/misc/sigma.misc.drawHovers.js"></script>
<script src="./sigma.js-master/src/sigma.renderers.nodeBorder.js"></script>
<script src="./sigma.js-master/plugins/sigma.plugins.filter/sigma.plugins.filter.js"></script>
<script src="supervisor.js"></script>
<script src="worker.js"></script>
<script src="Barabasi_Galaxy_2.js"></script>
<!-- END SIGMA IMPORTS -->
<!-- CUSTOM SHAPES -->
<!--<script src="./sigma.js-master/src/renderers/sigma.renderers.customShapes.webgl.js"></script>-->
<script src="./sigma.js-master/src/renderers/sigma.renderers.nodeBorder.js"></script>

<script src="https://use.fontawesome.com/77e32934ac.js"></script>

<body>
    <div id="container">
        <style>
            #graph-container {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
            }

            button {
                z-index: 10;
                top: 10px;
                position: relative;
            }

            .show {
                left: 10px;
            }

            .hide {
                left: 100px;
            }
        </style>
        <div style="font-family:'Fontawesome'">&#xf2ba</div>
        <!--<button class="hide" onclick="toThickline()">ThickLine</button>
        <button class="hide" onclick="toFast()">Fast</button>
        <button class="hide" onclick="toCurve()">Curve</button>
        <button class="hide" onclick="toArrow()">Arrow</button>
        <button class="hide" onclick="toCurvedArrow()">CurvedArrow</button>
        <button class="hide" onclick="toCurvedArrowCached()">CurvedArrowCached</button>
        <button class="hide" onclick="refresh()">Refresh</button>
        <button class="hide" onclick="startLayout()">Start/stop layout</button>-->
        <!--<button class="hide" onclick="hideNode();">Hide Node</button>
        <button class="hide" onclick="hideEdge();">Hide Edge</button>
        <button class="hide" onclick="showNode();">Show Node</button>
        <button class="hide" onclick="showEdge();">Show Edge</button>-->
        <button class="hide" onclick="changeIcons()">Change Icon</button>
        <div id="graph-container"></div>
        <!--<button class="show" onclick="showNode()">Show Node</button>-->
    </div>
</body>
<script>

    /**
     * This is a basic example on how to instantiate sigma. A random graph is
     * generated and stored in the "graph" variable, and then sigma is instantiated
     * directly with the graph.
     *
     * The simple instance of sigma is enough to make it render the graph on the on
     * the screen, since the graph is given directly to the constructor.
     */
    var i,
            s,
            N = 1000,
            E = 0,
            g = {
                nodes: [],
                edges: []
            };

    // Generate a random graph:
    for (i = 0; i < N; i++)
        g.nodes.push({
            id: 'n' + i,
            label: 'Node ' + i,
            type: (i % 2 === 0) ? 'square' : 'hexagon',
            //type: 'square',
            //x: (i % 2 == 1) ? 0 : -10,//Math.random(),
            //y: (i % 2 == 1) ? 100 : -100,//Math.random(),
            x: Math.random(),
            y: Math.random(),
            size: 50,
            color: (i % 2 == 1) ? '#aaf' : '#faa',
            //borderWidth: 2,
            borderColor: '#444',
            //starRatio: 0.5,
            image: {
                url: (i % 2 === 0) ? "./square_btmp.png" : "./chrome.png" /* mandatory image URL */,
                //url: "./chrome.png",
                clip: 1 /* Ratio of image clipping disk compared to node size (def 1.0) - see example to how we adapt this to differenmt shapes */,
                scale: 1.0 /* Ratio of how to scale the image, compared to node size, default 1.0 */,
                w: 1 /* numeric width - important for correct scaling if w/h ratio is not 1.0 */,
                h: 1 /* numeric height - important for correct scaling if w/h ratio is not 1.0 */
            },
            //icon: {
            //    font: 'Arial',
            //    scale: 1, // size ratio of (icon / node)
            //    color: '#500',
            //    content: String.fromCharCode(65 + i),//'\uf2ba', //"\uF2ba"
            //}
        });
    //g.nodes[0].type = "square";
    //g.nodes[1].type = "hexagon";
    //g.nodes[2].type = "triangle";

    //g.nodes[0].image.url = "./square_btmp.png";
    ////g.nodes[0].image = null;
    //g.nodes[1].image.url = "./chrome.png";
    ////g.nodes[1].image = null;
    //g.nodes[2].image.url = "./square_btmp.jpg";
    ////g.nodes[2].image = null;

    for (i = 0; i < E; i++)
        g.edges.push({
            id: 'e' + i,
            source: 'n' + (Math.random() * N | 0),
            target: 'n' + (Math.random() * N | 0),
            //source: 'n' + i.toString(),
            //target: 'n' + (i+1).toString(),
            size: Math.random() * 5,
            "read_cam0:size": 20,
            color: '#c0c',
            //color: 'rgba(255,0,255,0.5)',
            type: (i % 2 == 1) ? 'def' : 'def',
            //type: (i % 2 == 1) ? 'curve' : 'thickLine2',
            //type: 'arrow2',
            count: i
        });

    //for (var k in graph.nodes) {
    //    graph.nodes[k].type = "defCached";
    //}
    // Instantiate sigma:

    function init() {
        s = new sigma({
            //graph: graph,
            graph: g,
            container: 'graph-container',
            renderer: {
                container: 'graph-container',
                type: 'webgl'
            },
            settings: {
                edgeColor: 'mixed',
                batchEdgesDrawing: false,
                webglEdgesBatchSize: 500,
                drawNodes: true,
                arrowSizeRatio: 5,
                maxArrowSize: 15,
                minArrowSize: 5,
                hideEdgesOnMove: false
            }
        });
    }
    setTimeout(init, 0);

    function changeIcons() {
        s.graph.nodes().forEach(function(n) 
        {
            n.image = null;
            n.icon = {};
            n.icon.content = '\uf1e0';
            n.icon.font = 'FontAwesome';
            n.icon.color = '#000';
            n.icon.scale = 1;
        });
        s.refresh();
    }
    function hideNode() {
        s.graph.nodes()[0].hidden = true;
        s.graph.updateNodes(s.graph.nodes()[0].id);
        s.refresh();
    }
    function hideEdge() {
        s.graph.edges()[0].hidden = true;
        s.graph.updateEdges(s.graph.edges()[0].id);
        s.refresh();
    }
    function showNode() {
        s.graph.nodes()[0].hidden = false;
        s.graph.updateNodes(s.graph.nodes()[0].id);
        s.refresh();
    }
    function showEdge() {
        s.graph.edges()[0].hidden = false;
        s.graph.updateEdges(s.graph.edges()[0].id);
        s.refresh();
    }
    function resetContext() {
        s.killRenderer('0');
        s.addRenderer({ container: document.getElementById('graph-container'), type: 'webgl', camera: s.cameras[0] });
        s.refresh();
    }
    function changeNodeColor() {
        s.graph.nodes()[0].color = '#444';
        s.refresh();
    }
    function toThickline() {
        s.graph.edges().forEach(function (e) {
            e.type = 'def'
        });
        s.refresh();
    }
    function toFast() {
        s.graph.edges().forEach(function (e) {
            e.type = 'fast'

        });
        s.graph.updateEdges();
        s.refresh();
    }
    function toCurve() {
        s.graph.edges().forEach(function (e) {
            e.type = 'curve'
        });
        s.refresh();
    }
    function toCurvedArrow() {
        s.graph.edges().forEach(function (e) {
            e.type = 'curvedArrow'
        });
        s.refresh();
    }
    function toCurvedArrowCached() {
        s.graph.edges().forEach(function (e) {
            e.type = 'curvedArrowCached'
        });
        s.refresh();
    }
    function toArrow() {
        s.graph.edges().forEach(function (e) {
            e.type = 'arrow'
        });
        s.refresh();
    }
    function refresh() {
        s.refresh();
    }

    function startLayout() {
        if (s.isForceAtlas2Running()) {
            s.killForceAtlas2();
            s.settings({
                drawEdges: true,
            });

            s.refresh();
        } else {
            s.settings({
                drawEdges: false,
            });

            s.startForceAtlas2({
                strongGravityMode: true,
                gravity: 0.1,
                worker: true,
                workerUrl: 'worker.js',
                scalingRatio: 1,
                slowDown: 3,
                barnesHutOptimize: true,
                barnesHutTheta: 0.8,
                autoConvergence: false
            }, false, 0.8);
        }
    }

</script>
